<!-- <h1>Kumar keshav</h1> -->

<app-register></app-register>

<!--

<p>hi {{name}} {{lastNAme}}</p>

<input type="text" value="{{name}}">

<input type="text" [{ngModule}]="{{name}}">

<button(click)="showName()" ShowName()></button> 
-->
<!-- 
<p *ngIf="name=='Kumar'">Hi All</p>
<p *ngIf="name=='Kumarr'">Hi kumarr</p>
<p>Digit Insurance</p> -->




<!-- <p [ngClass]="{'bgColorGreen':name=='kumar'}">Digit Insurance</p>  -->
<!-- 
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Age</td>
            <td>Role</td>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let details of tableData">
            <td>{{details.name}}</td>
            <td>{{details.age}}</td>
            <td>{{details.role}}</td>
        </tr>


        <tr>
            <td>Nagendra</td>
            <td>34</td>
            <td>PH</td>
        </tr>
        <tr>
            <td>Abhishek</td>
            <td>34</td>
            <td>Mentor</td>
        </tr>
        <tr>
            <td>Roshni</td>
            <td>34</td>
            <td>PH</td>
        </tr> 
        

    </tbody>
</table> 
-->

<!-- 

<mat-card *ngFor="let details of tableDta" style="width: 300px;background-color: yellow;">
    <h3>name :{{details.name}}</h3>
    <h3>age:{{details.age}}</h3>
    <h3>role:{{details.role}}</h3>
</mat-card> -->

